<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>MainForm</servlet-name>
        <servlet-class>CSUSoftWare21.web.projectJPetStore.web.servlet.MainFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainForm</servlet-name>
        <url-pattern>/mainForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CategoryForm</servlet-name>
        <servlet-class>CSUSoftWare21.web.projectJPetStore.web.servlet.CategoryFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryForm</servlet-name>
        <url-pattern>/categoryForm</url-pattern>
    </servlet-mapping>



    <!--用来启动 log4jConfigLocation的servlet -->
    <servlet>
        <servlet-name>Log4JInit</servlet-name>
        <servlet-class>CSUSoftWare21.web.projectJPetStore.Log4JInit</servlet-class>
        <init-param>
            <!--这个参数Log4JInit里要用-->
            <param-name>log4j-properties</param-name>
            <param-value>/WEB-INF/classes/log4j.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Log4JInit</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Log4JTest</servlet-name>
        <servlet-class>CSUSoftWare21.web.projectJPetStore.Log4JTest</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Log4JTest</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

</web-app>