*{
    margin: 0;
    padding: 0;
}

body {

    font-family: Arial,helvetica, tahoma, verdana, sans-serif;
    font-size: 2ex;
    /*显示用户名*/
    color: #333;


}
#Header{
    background-image: url("images/header2.png");
    height: 120px;
    background-color:rgb(78, 78, 78,0.45);
}
/* 空格*/
pre {
    font-family:  Arial, Courier, mono;

    font-style: normal;
    background-color: #FFFFFF;
    white-space: pre
}

h1 {
    margin: 1ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 3ex;
    font-weight: 900;
    color: #666;
}

h2 {
    margin: 2ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 2ex;
    font-weight: 700;
    color: #444;
}

h3 {
    margin: 1ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 1.6ex;
    font-weight: 700;
    color: #222;
}

p {
    font-family:  Arial,helvetica, tahoma, arial, verdana, sans-serif;

    margin: 0ex 0ex 0ex 0ex;
    padding: 2ex;
}

img {
    border: 0;
}

li {
    font-family: Arial, helvetica, tahoma, arial, verdana, sans-serif;

    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex;
}

table {
    border-width: 0;
    empty-cells: show;
}

td, th {
    empty-cells: show;
    padding: .3ex .3ex;
    vertical-align: top;
    text-align: left;
    border-width: 0;
    border-spacing: 0;
    background-color: #ececec
}

th {
    font-weight: bold;
    background-color: #e2e2e2;
}

a, a:visited, a:link {
    color: #039;
    padding-right: 40px;
    text-decoration: none;
    font-family:  Arial,helvetica, tahoma, arial, verdana, sans-serif;
}

a:hover {
    color: #69f;
}

a.Button, a.Button:link, a.Button:visited {
    padding: .3ex;
    color: #fff;
    background-color: #005e21;
    text-decoration: none;
    font-family: Arial, helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 1.5ex;
    /* border-radius: 12px;*/
}

a.Button:hover {
    color: #000;
    background-color: #54c07a;
}

#Logo {
    width: 33%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 1ex 0ex 0ex;
    border-width: 0ex 0ex 0ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    /*background-color:  rgb(0, 0, 0,0.45);*/

    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;

}
#Logo img{
    max-width: 150px;
}
/*>子选择器*/
body>#Logo {
    height: 9ex;
}

#Menu {
    width: 10%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 3.5ex 0ex 0ex 0ex;
    border-width: 0ex 0ex 0ex 0px;
    border-style: solid;
    float: left;
    text-decoration: none;
    font-family:  Arial,helvetica, tahoma, arial, verdana, sans-serif;
    text-align: center;
    line-height: 4.5ex;
    height: 9ex;
    position: relative;
    display: inline-block;
}
#MenuDropdownButton{

    color: #000;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#MenuDropdownButton img{
    max-width: 60px;
}
#MenuContent{
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 100%;
    max-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#MenuContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#MenuContent a:hover {
    background-color:black;
    font-style: normal;
    color: #fff;}

#Menu:hover #MenuContent {
    display: block;
}
#Menu:hover #MenuDropdownButton {
    /*background-color: #000;*/
}
#Menu, #Menu a, #Menu a:link, #Menu a:visited {

    text-decoration: none;
    font-family:  Arial,helvetica, tahoma, arial, verdana, sans-serif;
}

body>#Menu {
    height: 5.5ex;
    padding-left: 10px;
}

#Search {
    width: 33%;
    height: 50px;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0;

    float: left;
    text-align: left;
    /* background-color: #173f54;*/
    color: #eaac00;


}

body>#Search {
    height: 40ex;
}

#Search input {

    /* background-color: #666; */
    color: #000;
    padding-top: 20px;
    margin-top: 17px;
    border-radius: 15px;
    height: 28px;
}


#QuickLinks {
    text-align: center;
    /*background-color:  rgb(0, 0, 0,0.45);*/
    width: 99%;
    padding-top: 10px;
    margin-top: 10px;
}
#QuickLinks>img{
    max-width: 60px;
}
#PoweredBy {
    width: 30%;
    height: 25ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0ex 0ex 0ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color:  rgb(0, 0, 0);
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;

}

body>#PoweredBy {
    height: 25ex;
}

#Banner {
    width: 69%;

    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0ex 0ex 0ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color:  rgb(0, 0, 0);
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 25ex;
}

body>#Banner {
    height: 25ex;
}

#Content {
    margin: 0;
    padding: 0ex 0ex 0ex 0ex;
    width: 99%;
    color: #333;
    /*background-color: rgb(0, 0, 0);*/
    border-width: 0;
}

#Separator {
    clear:both;
    margin: 0;
    height:0;
}

#Main {
    margin: 0;
    padding: 1ex;
    color: #333;
    background-color:#fff;
    border-width: 1ex 0ex 2ex 0px;
    border-style: solid;
    border-color: #fff;
}

#Sidebar {
    float: left;
    background:inherit;
    width: 30%;
}

#MainImage {
    float: left;
    background:inherit;

    text-align:center;
    width: 50%;
}

#Catalog {
    padding: 1ex;
    background:inherit;
    text-align:center;
}

#Catalog input[type="submit"]{
    padding: .3ex;
    color: #fff;
    background-color: #005e21;
    text-decoration: none;
    font-family:  Arial,helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 1.5ex;
    border-width:0;
}
#Catalog input[type="submit"]:hover {
    color: #173f54;
    background-color: #54c07a;
    cursor:pointer;
}

#Catalog table{
    margin-left:auto;
    margin-right:auto;
}

#BackLink{
    padding: 1ex;
    float: right;
    border-width: .1ex 0ex .1ex 0px;
    border-style: solid;
    border-color: #173f54;
}

#Cart{
    width: 69.99%;
    float: left;
    background-color:#fff;
}

#MyList{
    width: 30%;
    float: left;
    background-color:#ccc;
    text-align:left;
}
