<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CSUSoftWare21.web.projectJPetStore.persistence.CategoryMapper">
    <select id="getCategory" parameterType="string" resultType="CSUSoftWare21.web.projectJPetStore.domain.Category">
        SELECT
        CATID AS categoryId,
        NAME,
        DESCN AS description
        FROM CATEGORY
        WHERE CATID = #{categoryId}
    </select>

    <select id="getCategoryList" resultType="CSUSoftWare21.web.projectJPetStore.domain.Category">
        SELECT
        CATID AS categoryId,
        NAME,
        DESCN AS description
        FROM CATEGORY
    </select>

    <select id="selectAll" resultType="CSUSoftWare21.web.projectJPetStore.domain.Category">
        select * from CATEGORY;
    </select>
</mapper>