<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CSUSoftWare21.web.projectJPetStore.persistence.SequenceMapper">
    <select id="getSequence" parameterType="CSUSoftWare21.web.projectJPetStore.domain.Sequence" resultType="CSUSoftWare21.web.projectJPetStore.domain.Sequence">
        SELECT name, nextid
        FROM SEQUENCE
        WHERE NAME = #{name}
    </select>

    <update id="updateSequence" parameterType="CSUSoftWare21.web.projectJPetStore.domain.Sequence">
        UPDATE SEQUENCE
        SET NEXTID = #{nextId}
        WHERE NAME = #{name}
    </update>

</mapper>
